# Common dependencies
/client/node_modules

/client/.DS_Store
/server/.DS_Store

/.DS_Store

/client/build/
/server/build/
/server/bin/
/server/vendor/

/client/logs
/server/logs
*.log
.env

/allfileshaswithsizes.txt